*, *:before, *:after {
    box-sizing: border-box;
}
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.4;
    background: none #fff;
}
body {
    font: inherit;
    text-align: center;
    padding: 0;
    margin: 0;
}
#container {
    font: inherit;
    text-align: left;
    width: auto;
    padding: 0;
    margin: 0;
    border: 0;
    background: none transparent;
    box-shadow: none;
}
#container #logo {
    position: relative;
    padding: 0;
    margin: 0;
    min-height: 0;
    background: none #004;
    text-decoration: none;
    text-indent: -9999px;
}
#container .wufoo {
    position: relative;
    font: inherit;
    padding: 0;
    margin: 0;
}
.wufoo .info {
    display: none;
    padding: 0;
    margin: 0;
}
.wufoo ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.wufoo ul::after,
.wufoo li::after,
.wufoo li div::after {
    content: none;
}
.wufoo label {
    display: block;
    font: inherit;
    color: inherit;
    white-space: normal;
    border: 0;
    width: auto;
    padding: 0;
    margin: 0;
}
.wufoo li {
    position: relative;
    padding: 10px 5px;
    margin: 0;
    clear: none;
    background: none transparent;
    transition: none;
}
.wufoo li span {
    display: inline-block;
    vertical-align: top;
    float: none;
    color: inherit;
    padding: 0;
    margin: 0;
}
.wufoo .req {
    font: inherit;
    color: #e34 !important;
    padding: 0;
    margin: 0;
}
.wufoo input.text,
.wufoo input.search,
.wufoo textarea.textarea {
    font: inherit;
    color: inherit;
    background: none transparent;
    border: 1px solid;
    padding: 2px 5px;
    margin: 0;
}
.wufoo input.submit {
    font: inherit;
    background: none #004;
    color: #fff;
    border: 0;
    padding: 5px 10px;
    margin: 0;
    -webkit-appearance: none;
}
.wufoo li.focused {
    background: none transparent !important;
}
