
    .tool ul {
      list-style: none;
      padding-left: 0;
    }
    .tool li {
      display: flex;
      align-items: center;
    }
    .tool span {
      width: 1.25rem;
      height: 1.25rem;
      border: 1px solid var(--color-gray);
      border-radius: var(--radius-2);
    }
    .tool code {
      background-color: transparent;
      border-color: transparent;
    }
