
    .tool div {
      max-width: var(--layout-8);
      overflow-x: auto;
    }
    .tool table {
      font-family: var(--font-family-code);
      margin-bottom: 1.5rem;
      overflow: hidden;
    }
    .tool td {
      border: 0;
    }
    .tool td[title] {
      font-size: var(--font-size-xxs);
      line-height: 1;
      text-align: center;
      color: white;
      text-shadow: 1px 1px 1px black;
      width: 2.25rem;
      height: 2.25rem;
      min-width: 2.25rem;
      min-height: 2.25rem;
    }
    .tool td:first-child {
      padding-left: .5rem;
      padding-right: .25rem;
    }
    .tool tr:first-child td {
      padding-top: .5rem;
    }
