
    *, *::before, *::after {
      box-sizing: border-box;
    }
    :root {
      --modal-bg: #fff;
      --modal-color: #004;
      --modal-close-color: var(--modal-color);
      --modal-close-hover-color: #06f;
      --modal-transition-duration: .5s;
    }
    @media (prefers-color-scheme: dark) {
      :root {
        --modal-bg: #0d1117;
        --modal-color: #e6edf3;
        --modal-close-hover-color: #39f;
      }
    }
    .modal-body {
      position: fixed;
      z-index: 100;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 480px;
      max-width: calc(100% - 48px);
      max-height: calc(100% - 48px);
      background-color: var(--modal-bg);
      color: var(--modal-color);
      box-shadow: 0 0 2px rgba(0,0,0,.2);
      border-radius: 16px;
      overflow: auto;
    }
    .modal-main {
      padding: 1.5rem;
    }
    .modal-main > :first-child {
      padding-top: 0;
      margin-top: 0;
    }
    .modal-main > :last-child {
      padding-bottom: 0;
      margin-bottom: 0;
    }
    .modal-close {
      position: absolute;
      top: 0;
      right: 0;
      width: 3rem;
      height: 3rem;
      padding: 0;
      margin: 0;
      background-color: transparent;
      box-shadow: none;
      border: 0;
      border-radius: 8px;
      outline-offset: -.5rem;
      cursor: pointer;
      transition: none;
    }
    .modal-close::before,
    .modal-close::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 2px;
      background-color: var(--modal-close-color);
      border-radius: 1px;
      transition: background-color .2s;
    }
    .modal-close::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    .modal-close::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    .modal-close:hover::before,
    .modal-close:hover::after {
      background-color: var(--modal-close-hover-color);
    }
    .modal-close:hover {
      background-color: transparent;
    }
    .modal-dialog {
      display: none;
    }
    .modal-dialog.show,
    .modal-dialog.hide {
      display: block;
    }
    .modal-dialog.show .modal-body {
      animation: var(--modal-transition-duration) forwards slidein;
    }
    .modal-dialog.hide .modal-body {
      animation: calc(var(--modal-transition-duration) / 2) forwards slideout;
    }
    @keyframes slidein {
      0% {
        transform: translate(-50%, -70%);
        opacity: 0;
      }
      100% {
        transform: translate(-50%, -50%);
        opacity: 1;
      }
    }
    @keyframes slideout {
      100% {
        transform: translate(-50%, -30%);
        opacity: 0;
      }
    }
    .modal-on {
      overflow: hidden;
    }
    .modal-backdrop {
      position: fixed;
      z-index: 90;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0,0,0,.4);
    }
    .modal-backdrop {
      opacity: 0;
      display: none;
    }
    :where(.modal-on, .modal-off) .modal-backdrop {
      opacity: 1;
      display: block;
    }
    .modal-on .modal-backdrop {
      animation: calc(var(--modal-transition-duration) / 2) forwards fadein;
    }
    .modal-off .modal-backdrop {
      animation: var(--modal-transition-duration) forwards fadeout;
    }
    @keyframes fadein {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes fadeout {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
