
    .tool .intro,
    .tool .input,
    .tool .output {
      max-width: var(--layout-7);
    }
    .tool table {
      border: 0;
    }
    .tool .input td {
      padding-right: .25rem;
      padding-bottom: .25rem;
    }
    .tool .input code {
      white-space: nowrap;
    }
    .tool .input p,
    .tool .output p {
      display: flex;
      align-items: center;
      gap: .25rem;
      margin: 0;
    }
    .tool .output p span {
      width: 1.625rem;
      height: 1.625rem;
      border: 1px solid var(--color-gray);
      border-radius: var(--radius-2);
    }
    .tool .output table {
      width: 100%;
      table-layout: fixed;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Crect width='10' height='10' fill='%23666'/%3E%3Crect x='10' y='10' width='10' height='10' fill='%23666'/%3E%3C/svg%3E");
      color: white;
      text-shadow: 1px 1px 1px black;
      margin: 1.25rem 0;
    }
    .tool .output td {
      padding: .625rem;
    }
    .tool .output td div {
      height: 7.5rem;
      border-radius: var(--radius-3);
    }
    .tool .output td div span {
      display: block;
      padding: .625rem;
    }
    .tool .sp-replacer {
      display: flex;
      align-items: center;
      gap: .25rem;
      padding: .25rem;
      background-color: var(--color-lightgray);
      border-color: var(--color-gray);
      border-radius: var(--radius-2);
    }
    .tool .sp-replacer:hover,
    .tool .sp-replacer.sp-active {
      border-color: var(--color-dimgray);
    }
    .tool .sp-preview {
      width: 1.125rem;
      height: 1.125rem;
      margin: 0;
      border: 0;
      border-radius: var(--radius-2);
    }
    .tool .sp-preview-inner {
      border: 1px solid var(--color-gray);
      border-radius: var(--radius-2);
    }
    .tool .sp-dd {
      width: auto;
      height: 1rem;
      float: none;
      padding: 0;
      line-height: 1rem;
    }
    .tool ~ .sp-container {
      border-color: var(--color-dimgray);
      border-radius: var(--radius-2);
    }
    .tool ~ .sp-container .sp-input {
      border-color: inherit;
    }
    .tool ~ .sp-container .sp-input:focus {
      border-color: var(--color-foreground);
    }
    .tool ~ .sp-container .sp-choose {
      border-radius: var(--radius-2);
    }
