
    .tool div {
      max-width: var(--layout-6);
    }
    .tool pre {
      max-width: max-content;
    }
    .tool table {
      overflow: hidden;
    }
    .tool th,
    .tool td {
      text-align: center;
    }
    .tool th {
      padding: .5rem 1rem;
    }
    .tool td {
      font-family: var(--font-family-code);
      padding: .25rem 1rem;
      border: 0;
    }
    .tool td:nth-child(1),
    .tool td:nth-child(2) {
      border-right: 0;
    }
    .tool td:nth-child(2),
    .tool td:nth-child(3) {
      border-left: 0;
    }
    .tool tr:nth-child(10n+1) td {
      background-color: var(--color-lightgray);
    }
    .tool tr:focus {
      outline: 1px solid var(--color-gray);
    }
