{% assign url = page.url | replace: "/toolbox", "" %}
{%- case url %}
{% when "/farfaraway/" %}
{% when "/gray/" %}
{% when "/hex/" %}
    <style>
        div {
            max-width: 640px;
            overflow-x: auto;
        }
        table {
            font-size: .875rem;
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 1.5rem;
        }
        td {
            border: 1px solid var(--color-light-border);
        }
        td[title] {
            font-size: .75rem;
            line-height: 1;
            text-align: center;
            color: white;
            text-shadow: 1px 1px 1px black;
            width: 2.25rem;
            height: 2.25rem;
            min-width: 2.25rem;
            min-height: 2.25rem;
        }
    </style>
{% when "/html/" %}
{% when "/loremipsum/" %}
{% when "/rem/" %}
    <style>
        div {
            margin-bottom: .5rem;
        }
        input[type="text"] {
            resize: horizontal;
        }
        label {
            display: inline-block;
        }
        ul {
            font-size: 1rem;
        }
    </style>
{% when "/rgba/" %}
    <style>
        .intro {
            max-width: 560px;
        }
        .input table,
        .output table {
            border-collapse: collapse;
            font-size: .875rem;
        }
        .input td {
            padding-right: .5rem;
            padding-bottom: .25rem;
        }
        .input code {
            white-space: nowrap;
        }
        .output p {
            display: flex;
            align-items: center;
        }
        .output table {
            max-width: 100%;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Crect width='10' height='10' fill='%23666'/%3E%3Crect x='10' y='10' width='10' height='10' fill='%23666'/%3E%3C/svg%3E");
            color: rgb(255,255,255);
            text-shadow: 1px 1px 1px rgb(0,0,0);
            height: 9.375rem;
        }
        .output td {
            width: 18.75rem;
            height: 9.375rem;
            padding: 0;
        }
        .output td div {
            width: calc(100% - 1.25rem);
            height: calc(100% - 1.25rem);
            margin: .625rem;
        }
        .output td div span {
            display: block;
            padding: .625rem;
        }
        .sp-replacer {
            min-width: 3.125rem;
        }
        .sp-preview {
            max-width: 1.5rem;
            max-height: 1.125rem;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.1/spectrum.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.1/spectrum.min.js"></script>
{% when "/rrggbbaa/" %}
    <style>
        div {
            max-width: 480px;
        }
        pre,
        table {
            width: 22.5rem;
            max-width: 100%;
        }
        table {
            table-layout: fixed;
            border-collapse: collapse;
            font-size: .875rem;
        }
        th, td {
            padding: .25rem .625rem;
            text-align: left;
        }
        td {
            border: 1px solid var(--color-light-border);
        }
        td:nth-child(1),
        td:nth-child(2) {
            border-right: 0;
        }
        td:nth-child(2),
        td:nth-child(3) {
            border-left: 0;
        }
        tr:nth-child(10n+1) td {
            background-color: var(--color-light-bg);
        }
        tr:focus {
            outline: 2px dotted;
        }
    </style>
{% when "/viewport/" %}
    <style>
        article {
            margin: 0;
        }
        h1 {
            font-size: 1.25rem;
        }
        h1:after {
            content: ":";
        }
        h1 + p {
            font-size: 1.875rem;
        }
    </style>
{% endcase -%}
