/* ADAPT | 2011-07 */

@media screen {
	body{-webkit-text-size-adjust:none;}
}

@media screen and (max-width:960px) {
	.logo{margin-left:20px;}
	.main{padding-left:20px;}
	.main h1{font-size:32px;}
	.hero h1{font-size:46px;}
	.footer{padding-left:20px;padding-right:20px;}
	.page-about .main{background:none;}
	.page-work .main{padding-left:0;}
	.page-work h1,.projects li{padding-left:20px;padding-right:20px;}
	.projects .info{width:35%;}
	.projects .link{left:20px;}
	.projects .image{width:60%;}
}

@media screen and (max-width:640px) {
	.main{min-height:380px;padding-bottom:0;}
	.header{padding:30px 0 40px;}
	.logo{float:none;margin-bottom:20px;}
	.nav{float:none;clear:both;width:auto;}
	.hero{padding:10px 0 40px;}
	.hero h1{font-size:40px;}
	.skills .fancy,.skills .last{display:none;}
	.communicate{width:auto;}
	.notfound{width:95%;}
	.wufoo-form-container {width:600px!important;}
}

@media screen and (max-width:600px) {
	.main{padding-top:20px;}
	.main h1{font-size:28px;}
	.page-home .main{background-position:center top;background-size:100%;}
	.teaser li{width:auto;float:none;padding-right:20px;margin-bottom:30px;}
	.projects .info,.projects .image{width:auto;float:none;}
	.projects li{margin-bottom:40px;border-bottom:0;}
	.projects .info{width:auto;}
	.projects .image{border:10px solid #ece8db;border-radius:10px;margin-bottom:20px;}
	.projects .vicky img {margin-top:0;}
	.projects .meta{margin-bottom:20px;}
	.projects .link{position:static;}
	.skills p{margin-bottom:30px;}
	.skills .single,.skills .double{width:100%;clear:both;float:none;min-height:0;}
	.introduce .session{width:auto;padding-right:20px;}
	.wufoo-form-container {width:440px!important;}
}

@media screen and (max-width:400px) {
	.main {line-height:1.4;}
	.nav{padding-left:20px;padding-right:20px;}
	.nav li{text-align:left;width:auto;margin-right:9px;letter-spacing:0;}
	.nav li:last-child{margin-right:0;}
	.nav .active{background:none;color:#3e2f2f;}
	.nav .active a{color:#a34103;}
	.hero h1{font-size:30px;}
	.introduce .session ul{margin-left:5px;}
	.projects .image{border:5px solid #ece8db;border-radius:5px;margin-bottom:20px;}
	.wufoo-form-container {width:280px!important;}
}

@media screen and (max-width:240px) {
	.logo{width:auto;margin-left:5px;}
	.nav{padding-bottom:20px;}
	.footer .meta{display:none;}
}
