/* MAIN | 2009-07 */

/* HTML
-------------------------------------------------- */

article, aside, details, figcaption, figure, footer,
header, hgroup, main, nav, section, summary {
    display: block;
}

html {
    border-top: 6px solid #ded9ce;
    background-color: #f9fbf4;
    text-align: center;
}

body {
    font-family: "georgia", serif;
    font-size: 14px;
    line-height: 1.6;
    text-align: left;
    color: #3e2f2f;
    max-width: 900px;
    margin: 0 auto;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}

a {
    text-decoration: none;
    color: #a34103;
}

a:hover {
    color: #c9662a;
}

a:focus {
    outline: 0;
}

p {
    margin: 0 0 20px;
}

p a {
    font-weight: bold;
}

h1, h2, h3 {
    line-height: 1.25;
}

h1 {
    font-size: 36px;
    margin: 0 0 30px;
}

h1 em {
    font-family: "baskerville", "georgia", serif;
    font-style: italic;
    color: #dec1a5;
}

h2, h3 {
    font-weight: normal;
    margin: 0 0 12px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 14px;
}

img {
    border: 0;
}

ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

abbr {
    border-bottom: 1px dotted #3e2f2f;
    cursor: help;
    padding: 0 1px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Layout
-------------------------------------------------- */

.header {
    border-bottom: 2px solid #ded9ce;
    padding: 70px 0 50px;
}

.main {
    position: relative;
    padding: 40px 0 60px;
    overflow: hidden;
}

.footer {
    border-top: 1px solid #ded9ce;
    padding: 10px 0 30px;
    clear: both;
}

/* Header
-------------------------------------------------- */

.logo {
    background: url(../img/logo.png) 0 0 no-repeat;
    text-indent: -9999px;
    display: block;
    margin-top: -4px;
    float: left;
    width: 204px;
    height: 23px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .logo {
        background: url(../img/logo2x.png) 0 0 no-repeat;
        background-size: 100%;
    }
}

.logo:hover {
    background-position: 0 -23px;
}

.nav {
    float: right;
    width: 60%;
}

.nav li {
    display: block;
    float: left;
    width: 25%;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.nav a {
    display: block;
    color: #3e2f2f;
}

.nav a:hover {
    color: #a34103;
}

.nav .active {
    background: url(../img/nav.gif) center top no-repeat;
}

.nav .active a:hover {
    color: #3e2f2f;
}

/* Footer
-------------------------------------------------- */

.footer {
    font-size: 13px;
}

.footer a {
    font-weight: normal;
    color: inherit;
}

.footer a:hover {
    color: #a34103;
}

.footer .meta {
    float: right;
}

/* Home
-------------------------------------------------- */

.page-home .main {
    background: url(../img/paint.jpg) right 20% no-repeat;
}

.hero {
    padding: 45px 0 90px;
}

.hero h1 {
    font-family: "baskerville", "georgia", serif;
    font-size: 46px;
    margin: 0 0 10px;
}

.hero h1 em {
    font-weight: normal;
    color: #c38e5a;
}

.hero p {
    font-size: 18px;
    font-style: italic;
    margin: 0;
}

.teaser {
    clear: both;
    margin-bottom: 40px;
    overflow: hidden;
}

.teaser li {
    width: 33.33%;
    float: left;
}

.teaser p {
    padding-right: 20px;
}

/* Work
-------------------------------------------------- */

.page-work h1 {
    margin-bottom: 40px;
}

.projects li {
    position: relative;
    clear: both;
    overflow: hidden;
    border-bottom: 2px solid #ded9ce;
    padding: 0;
    margin: 0 0 50px;
}

.projects h2 {
    margin-bottom: 0;
}

.projects h2 span {
    font-size: 16px;
}

.projects p {
    margin-bottom: 10px;
}

.projects .info {
    float: left;
    width: 280px;
}

.projects .year {
    font-family: "georgia", serif;
    font-size: 18px;
    font-weight: bold;
    color: #dec1a5;
}

.projects .meta {
    font-style: italic;
    margin-top: 10px;
}

.projects .link {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
}

.projects .link a {
    float: left;
    display: block;
    background: #ece8db;
    font-size: 13px;
    font-weight: normal;
    font-style: italic;
    padding: 2px 10px;
    border-radius: 20px;
}

.projects .link a:hover {
    background: #eedecf;
}

.projects .image {
    float: right;
    width: 560px;
    height: 200px;
    overflow: hidden;
    border: 10px solid #ece8db;
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
}

.projects .image:hover {
    border-color: #eedecf;
}

.projects .image a {
    display: block;
}

.projects .image img {
    max-width: 100%;
    height: auto;
}

/* Services
-------------------------------------------------- */

.skills img {
    float: right;
    margin-right: 20px;
}

.skills p {
    padding-right: 60px;
    margin-bottom: 40px;
}

.skills li {
    float: left;
    min-height: 140px;
}

.skills .single {
    width: 33.33%;
}

.skills .double {
    width: 66.66%;
}

.skills .break {
    clear: both;
}

.skills .fancy {
    padding-top: 15px;
}

.skills .fancy h2 {
    position: relative;
    color: white;
    width: 85%;
    height: 80px;
    line-height: 80px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: #3e2f2f;
}

.skills .fancy h2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 0 40px 40px;
    border-color: transparent transparent transparent #3e2f2f;
}

.skills .fancy h2 span {
    padding: 0 4px;
}

.skills .last p {
    padding-top: 10px;
}

/* About
-------------------------------------------------- */

.page-about .main {
    background: url(../img/me.jpg) 100% 50px no-repeat;
}

.introduce .session {
    width: 550px;
    margin-bottom: 40px;
}

.introduce .first {
    font-size: 16px;
    line-height: 1.4;
}

.introduce .first .row {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.introduce .first .chr {
    float: left;
    font-size: 50px;
    font-weight: normal;
    line-height: 1;
    margin: -4px 5px 10px 0;
}

.introduce .session ul {
    border-left: 5px solid #ded9ce;
    padding-left: 10px;
    margin-left: 8px;
    overflow: hidden;
}

/* Contact
-------------------------------------------------- */

.communicate {
    width: 600px;
    margin-top: -10px;
    overflow: hidden;
}

.communicate .wufoo {
    margin-top: -40px;
}

/* Toolbox
-------------------------------------------------- */

.toolbox li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 5px;
}

/* 404
-------------------------------------------------- */

.notfound {
    width: 600px;
    margin-bottom: 90px;
}

.notfound ul {
    list-style: circle;
    margin-left: 30px;
}

.notfound li {
    margin: 10px 0;
}

/* MOBILE | 2011-07 */

@media screen and (max-width:960px){
    .logo{margin-left:20px;}
    .main{padding-left:20px;}
    .main h1{font-size:32px;}
    .hero h1{font-size:46px;}
    .footer{padding-left:20px;padding-right:20px;}
    .page-about .main{background:none;}
    .page-work .main{padding-left:0;}
    .page-work h1,.projects li{padding-left:20px;padding-right:20px;}
    .projects .info{width:35%;}
    .projects .link{left:20px;}
    .projects .image{width:55%;}
}

@media screen and (max-width:640px){
    .main{min-height:380px;padding-bottom:0;margin-bottom:20px;}
    .header{padding:30px 0 40px;}
    .logo{float:none;margin-bottom:20px;}
    .nav{float:none;clear:both;width:auto;}
    .hero{padding:10px 0 40px;}
    .hero h1{font-size:40px;}
    .teaser{margin-bottom:0;}
    .projects .image{height:auto;}
    .skills .fancy,.skills .last{display:none;}
    .communicate{width:auto;}
    .notfound{width:95%;}
    .wufoo-form-container{width:600px!important;}
}

@media screen and (max-width:600px){
    .main{padding-top:20px;}
    .main h1{font-size:28px;}
    .page-home .main{background-position:center 20%;background-size:100%;}
    .teaser li{width:auto;float:none;padding-right:20px;margin-bottom:30px;}
    .projects .info,.projects .image{width:auto;float:none;}
    .projects li{margin-bottom:40px;border-bottom:0;}
    .projects .info{width:auto;}
    .projects .image{border:10px solid #ece8db;border-radius:10px;margin-bottom:20px;}
    .projects .meta{margin-bottom:20px;}
    .projects .link{position:static;}
    .skills p{margin-bottom:30px;}
    .skills .single,.skills .double{width:100%;clear:both;float:none;min-height:0;}
    .introduce .session{width:auto;padding-right:20px;}
    .wufoo-form-container{width:440px!important;}
}

@media screen and (max-width:400px){
    .main{line-height:1.4;}
    .nav{padding-left:20px;padding-right:20px;}
    .nav li{text-align:left;width:auto;margin-right:20px;letter-spacing:0;}
    .nav li:last-child{margin-right:0;}
    .nav .active{background:none;color:#3e2f2f;}
    .nav .active a{color:#a34103;}
    .main h1{margin-right:10px;}
    .hero h1{font-size:30px;}
    .introduce .session ul{margin-left:5px;}
    .projects .image{border:5px solid #ece8db;border-radius:5px;margin-bottom:20px;}
    .wufoo-form-container{width:280px!important;}
}

@media screen and (max-width:240px){
    .logo{width:auto;margin-left:5px;}
    .nav{padding-bottom:20px;}
    .footer .meta{display:none;}
}

@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi){
    .logo{background:url(../img/logo2x.png) 0 0 no-repeat;background-size:100%;}
}
