:root {
    --color-body-text: rgb(25,25,25);
    --color-body-bg: rgb(255,255,255);
    --color-accent: rgb(238,51,68);
    --color-border: rgba(0,0,0,.25);
    --color-bg: rgba(0,0,0,.05);
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: "Jost", sans-serif;
    font-size: 17px;
    line-height: 1.4;
    background-color: var(--color-body-bg);
    color: var(--color-body-text);
    margin: 32px 24px;
}

h1, h2, h3, b, strong {
    font-weight: 600;
}

a {
    color: var(--color-accent);
    text-decoration: none;
    transition: border-width .1s;
}

a:hover {
    border-bottom: 1px solid;
}

code, pre {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
    font-size: 14px;
    word-wrap: break-word;
    background-color: var(--color-bg);
}

code {
    padding: 4px;
}

pre {
    white-space: pre-wrap;
    padding: 8px;
}

article {
    max-width: 800px;
    margin: auto;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-Regular.woff2") format("woff2"),
         url("../fonts/Jost-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-SemiBold.woff2") format("woff2"),
         url("../fonts/Jost-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}
