*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    line-height: 1.4;
    color: #222;
    margin: 1.5rem;
}

a {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    overflow-wrap: break-word;
    transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
    border-bottom: 3px solid #feff02;
    box-shadow: inset 0 -4px 0 #feff02;
}

a:hover {
    background-color: #feff02;
}

code, kbd, pre, samp {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
    font-size: .875rem;
}

h1 {
    line-height: 1.2;
}

main {
    display: block;
    max-width: 50rem;
}
