<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{%- if page.url == "/" %}
    <meta name="description" content="{{ site.description }}">
    <title>{{ site.name }}</title>
{%- else %}
    <title>{{ page.title }} - {{ site.name }}</title>
{%- endif %}
    <link rel="stylesheet" href="/assets/css/base.css?v={{ site.build }}">
</head>

<body class="{% if page.url == '/' %}home{% else %}{{ page.url | replace: '/', '' }}{% endif %}">

    <header class="header">
        <p class="logo">
            <a href="/"><b>Borderleft</b></a>
        </p>
        <nav class="nav">
            <ul>
            {%- for item in site.data.navigation %}
                <li><a href="{{ item.url }}" {%- if item.url == page.url %} class="current" {%- endif %}>{{ item.text }}</a></li>
            {%- endfor %}
            </ul>
        </nav>
    </header>

    <main class="main">

<h1>{{ page.title }}</h1>
{{ content }}
    </main>

    <footer class="footer">
        <p>
            {%- if page.url != "/toolbox/" -%}
                Are you a developer too? You might find my <a href="/toolbox/">&lt;toolbox&gt;</a> handy.
            {%- else -%}
                ... Aha! you’ve found it.
            {%- endif -%}
        </p>
    </footer>

{% if page.url == "/work/" %}{% include vanilla-lazyload.html %}{% endif %}
{% include css-vars-ponyfill.html %}
{% include google-analytics.html %}
</body>
</html>
