<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/base.css?v={{ site.build }}">
{%- assign slug = page.url | replace: "toolbox", "" | replace: "/", "" %}
{%- if slug == "rgba" %}
    {% include spectrum-colorpicker.html %}
{% endif %}
</head>

<body>

<article class="tool {{ slug }}">

<h1>{{ page.title }}</h1>
{{ content }}
</article>

{% include css-vars-ponyfill.html %}
{% include google-analytics.html %}
</body>
</html>
