<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/base.css?v={{ site.build }}">
{%- assign class = page.name | replace: ".html", "" %}
{%- if class == "rgba" %}
    {% include spectrum-colorpicker.html %}
{% endif %}
</head>

<body class="tool">

<div class="wrap {{ class }}">
<article>

{{ content }}
</article>
</div>

{% include css-vars-ponyfill.html %}
{% include google-analytics.html %}
</body>
</html>
